*.DS_Store
R_temps
R_unused
raw_data
raw_data_CC_update/
raw_data_update
raw_data2/
raw_data3/
raw_data_CC_update.zip
R/*_old.R
R/*_test.R
R_results/*_F
R_results/research_topics_all
csv/temps/*.csv
VOSviewer/
*.Rhistory
*.Rapp.history
*.swp
*.pptx
*_old.png
results/global_trends/parts
results/TF_tile_F
results/ToC
results/organ_types
results/csv/table_S*
R_results/all_corpus
CC/
